h1{
 height: 20px;
width: 62px;
left: 487px;
top: 161px;
margin-left: 5%;
}
h2{
height: 28px;
width: 62px;
left: 487px;
top: 161px;
margin-left: 20%;
}
h3{
 height: 28px;
width: 62px;
left: 487px;
top: 161px;
margin-bottom: 15%;
margin-left: 30%;
}
}